n8n-workflows/API — Run Newsletter.json
{
  "name": "API — Run Newsletter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stocksense/run-newsletter",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        -112
      ],
      "id": "9dae256d-6b5a-41f1-aeab-9c149a7fd1cd",
      "name": "Webhook",
      "webhookId": "b296d8d6-37ab-4ab1-a634-88bd697b3de3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        144,
        -112
      ],
      "id": "b2b4fbc3-f19e-4610-bb7a-c2dba9454b4d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eWqfqXXY5wdgGZH6",
          "mode": "list",
          "cachedResultUrl": "/workflow/eWqfqXXY5wdgGZH6",
          "cachedResultName": "StockSense — WF-3 Supplier Discovery Newsletter"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -80,
        -112
      ],
      "id": "3f18a779-7859-49ee-b1a7-e2a026dd1009",
      "name": "Call 'StockSense — WF-3 Supplier Discovery Newsletter'"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nreturn [{\n  json: {\n    runAt: body.runAt || new Date().toISOString(),\n    runId: Math.floor(Math.random() * 100000).toString(),\n    sheetId: '1cHZt75v-q95s9JxVbUFbhoRlM9_MVv1vCtXSNahPO34',\n    simulationEmail: 'muhammadali63251@gmail.com',\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -112
      ],
      "id": "187c8904-5eb8-4ebb-96ff-197f882fbaf9",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'StockSense — WF-3 Supplier Discovery Newsletter'": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Call 'StockSense — WF-3 Supplier Discovery Newsletter'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "175decfa-6c00-4303-9e52-bc32291d5881",
  "meta": {
    "instanceId": "57d65a2bc812a61d6e5035e221165cd6b22c93ae42073164873dfc8f426d09d8"
  },
  "id": "Iwp9ysxrJBzWVyAe",
  "tags": []
}