n8n-workflows/API — Read Contact Logs.json
{
  "name": "API — Read Contact Logs",
  "nodes": [
    {
      "parameters": {
        "path": "stocksense/contact-logs",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "5a7ea170-a39f-424f-acc8-54b78007708e",
      "name": "Webhook",
      "webhookId": "07aa1afa-481f-4316-ac39-92599cc58449"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1cHZt75v-q95s9JxVbUFbhoRlM9_MVv1vCtXSNahPO34",
          "mode": "list",
          "cachedResultName": "StockSense Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cHZt75v-q95s9JxVbUFbhoRlM9_MVv1vCtXSNahPO34/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1335007894,
          "mode": "list",
          "cachedResultName": "supplier_contact_logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cHZt75v-q95s9JxVbUFbhoRlM9_MVv1vCtXSNahPO34/edit#gid=1335007894"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "5e926d71-8877-4483-abbf-389761b8c0d5",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yIqaeH3GFMMQPr5T",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $input.all().map(i => i.json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "9e1fbc62-0f89-4c18-8239-55ab4e85c1cf",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0d08a0dd-6ab3-418a-9972-7a29e4a27930",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "57d65a2bc812a61d6e5035e221165cd6b22c93ae42073164873dfc8f426d09d8"
  },
  "id": "ehTevEifJ2WKmwew",
  "tags": []
}