n8n-workflows/API — Read Forecasts.json
{
  "name": "API — Read Forecasts",
  "nodes": [
    {
      "parameters": {
        "path": "stocksense/forecasts",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "5289f79c-cfd9-42d8-b10e-a8ca5d7c5855",
      "name": "Webhook",
      "webhookId": "acd3ca91-65c7-488c-9a47-177ec5ea653c"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1cHZt75v-q95s9JxVbUFbhoRlM9_MVv1vCtXSNahPO34",
          "mode": "list",
          "cachedResultName": "StockSense Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cHZt75v-q95s9JxVbUFbhoRlM9_MVv1vCtXSNahPO34/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 52095000,
          "mode": "list",
          "cachedResultName": "forecast_results",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cHZt75v-q95s9JxVbUFbhoRlM9_MVv1vCtXSNahPO34/edit#gid=52095000"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "fc15e4a6-ecf6-4417-b5f1-db2d8dbb9705",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yIqaeH3GFMMQPr5T",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $input.all().map(i => i.json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "3bede967-f9e9-4622-8b9e-75011245315a",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "919f3dbc-3ced-4b43-8c0a-7809b631e8f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "57d65a2bc812a61d6e5035e221165cd6b22c93ae42073164873dfc8f426d09d8"
  },
  "id": "u78JeqN6TiCIsOxW",
  "tags": []
}